# Django
# Use https://djecrety.ir/ for generation
SECRET_KEY = ''

# Production Switches
BACKEND_DEBUG = 'True'

# Seed Data Credentials
# Username and emails can be found in seed_data.json
SEED_DATA = 'True'
SEED_DATA_PASSWORD = '12345'
SEED_DATA_ADMIN_PASSWORD = ''

# Email Credentials
EMAIL_HOST = 'inbucket'
EMAIL_HOST_USER = ''
EMAIL_HOST_PASSWORD = ''
EMAIL_PORT = '1025'
EMAIL_USE_TLS = 'False'
EMAIL_ADDRESS = 'noreply-testing@drf-template.com'

# Database
# Have different credentials set on dev, staging, and prod
DB_DATABASE = 'drf-template'
DB_USERNAME = 'root'
DB_PASSWORD = ''
DB_HOST = 'postgres'
DB_PORT = '5432'
DB_SSL_MODE = 'disable'
# DB connection bouncer
USE_BOUNCER = 'True'
DB_BOUNCER_HOST = 'pgbouncer'
DB_BOUNCER_PORT = '6432'

# Redis
# Used for DB cache and Celery broker
REDIS_HOST = 'redis'
REDIS_PORT = '6379'

# Celery
CELERY_BROKER = 'redis://redis:6379/0'
CELERY_RESULT_BACKEND = 'redis://redis:6379/0'
CELERY_FLOWER_PORT = 5555

# Stripe
STRIPE_SECRET_KEY = ''
STRIPE_SECRET_WEBHOOK = ''

USE_VAULT = 'False'
SERVE_MEDIA = 'False'
BACKEND_ADDRESS = 'localhost'
BACKEND_PORT = 8000
FRONTEND_ADDRESS = 'localhost'
FRONTEND_PORT = 4200 # Set this to 443 in production (HTTPS)
USE_HTTPS = 'False'
TIMEZONE = 'Asia/Manila'

# Cloud Storage
# No need to set these if you're not using S3
CLOUD_BUCKET = ''
MEDIA_CONTAINER = ''
STATIC_CONTAINER = ''

# Proxy (For Selenium)
USE_PROXY = 'False'
# IP-Whitelisted Proxy Address
PROXY_IP_WHITELIST = 'proxy-here.com:12345'
# Username/Password Proxy Address
PROXY_USER_AUTH = 'username:password@proxy-here.com:12345'

# CAPTCHA
CAPTCHA_TESTING = 'True'