[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
python-dotenv = "*"
whitenoise = "*"
djoser = "*"
django-cors-headers = "*"
drf-spectacular = {version = "*", extras = ["sidecar"]}
django-extra-fields = "*"
pillow = "*"
psycopg2 = "*"
django-simple-history = "*"
django-unfold = "*"
django-resized = "*"
stripe = "*"
celery = "*"
selenium = "*"
undetected-chromedriver = "*"
2captcha-python = "*"
python-whois = "*"
django-celery-beat = "*"
flower = "*"
kombu = "*"
redis = "*"
django-storages = "*"
django-extensions = "*"
django-celery-results = "*"
pygraphviz = "*"
gunicorn = "*"
django-silk = "*"
django-redis = "*"
granian = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.11"
